Welcome to Turing!
<br />
<br />

<% if !current_user.nil? %>
  <a href="<%= mail2_url %>">Mail</a>
  <br />
  <br />

  <% google_o_auth2_token = nil
     google_o_auth2_token = current_user.gmail_accounts.first.google_o_auth2_token if current_user.gmail_accounts.first %>

  <%= link_to("#{google_o_auth2_token ? 'Change' : 'Link'} Gmail Account", gmail_o_auth2_url(true)) %>
  <% if google_o_auth2_token %>
    | <%= link_to('Unlink Gmail Account', gmail_o_auth2_remove_url, method: 'delete') %>
  <% end %>

  <br /><br />
  <%= link_to('Signout', signout_path, :method => :delete) %>
<% else %>
  <%= link_to('Signin', signin_path) %> | <%= link_to('Signup', signup_path) %>
<% end %>
