<div class="page-header row">
  <div class="col-md-10">
    <h1 class="h1">Folders</h1>
  </div>
  <div class="col-md-2">
    <span class="report_toolbar_dropdown top-report-dropdown">
    </span>
    <% var template = JST["backbone/templates/toolbar/more_dropdown"]; %>
    <%= template({}) %>
  </div>
</div>

<div class="row">
  <div class="col-lg-11">
    <h4 class="h4">Percent in the draft folder: <small><%= percent_draft * 100 %>%</small></h4>
    <h4 class="h4">Percent in the inbox folder: <small><%= percent_inbox * 100 %>%</small></h4>
    <h4 class="h4">Percent in the sent folder: <small><%= percent_sent * 100 %>%</small></h4>
    <h4 class="h4">Percent in the spam folder: <small><%= percent_spam * 100 %>%</small></h4>
    <h4 class="h4">Percent in the starred folder: <small><%= percent_starred * 100 %>%</small></h4>
    <h4 class="h4">Percent in the trash folder: <small><%= percent_trash * 100 %>%</small></h4>
    <h4 class="h4">Percent in the unread folder: <small><%= percent_unread * 100 %>%</small></h4>
  </div>
</div>