<div class="page-header">
  <h1 class="h1">Reports <small>folders</small></h1>
</div>

<div>
  <h4 class="h4">Percent in the draft folder: <small><%= percent_draft %>%</small></h4>
  <h4 class="h4">Percent in the inbox folder: <small><%= percent_inbox %>%</small></h4>
  <h4 class="h4">Percent in the sent folder: <small><%= percent_sent %>%</small></h4>
  <h4 class="h4">Percent in the spam folder: <small><%= percent_spam %>%</small></h4>
  <h4 class="h4">Percent in the starred folder: <small><%= percent_starred %>%</small></h4>
  <h4 class="h4">Percent in the trash folder: <small><%= percent_trash %>%</small></h4>
  <h4 class="h4">Percent in the unread folder: <small><%= percent_unread %>%</small></h4>
</div>
