<div class="page-header">
  <h1 class="h1">Reports <small>lists</small></h1>
</div>
<div id="list_report_statistics">
	<h4 class="h4">Lists email daily average: <small><%= lists_email_daily_average %></small></h4>
	<h4 class="h4">Emails per list: <small><%= emails_per_list %></small></h4>
	<h4 class="h4">Email threads per list: <small><%= email_threads_per_list %></small></h4>
	<h4 class="h4">Email threads replied to per list: <small><%= email_threads_replied_to_per_list %></small></h4>
	<h4 class="h4">Sent emails per list: <small><%= sent_emails_per_list %></small></h4>
	<h4 class="h4">Sent emails replied to per list: <small><%= sent_emails_replied_to_per_list %></small></h4>
</div>