<%
   max_sender_len = 25
   max_subject_len = 40
%>

<table border="1">
  <tr>
    <td></td>
    <td><span style="font-weight: bold;"><%= show_to ? 'To' : 'From' %></span></td>
    <td><span style="font-weight: bold;">Subject</span></td>
    <td><span style="font-weight: bold;">Date</span></td>
    <% if include_auto_filed_folder %>
      <td><span style="font-weight: bold;">Folder Moved To</span></td>
    <% end %>
  </tr>

  <% (0...emails.count).each do |email_num| %>
    <% email = emails[email_num] %>
    <tr>
      <td><span style="font-weight: bold;"><%= email_num + 1 %></span></td>
      <td>
        <% if show_to %>
          <%= truncate(email.tos.to_s() + email.ccs.to_s() + email.bccs.to_s(), :length => max_sender_len) %>
        <% else %>
          <%= mail_to(email.from_address) do
              truncate(email.from_name ? email.from_name : email.from_address, :length => max_sender_len)
            end %>
        <% end %>
      </td>
      <td><%= link_to(truncate(email.subject, :length => max_subject_len), "#email_thread##{email.email_thread.uid}") %></td>
      <td><%= email.date.to_s_local() %></td>
      <% if include_auto_filed_folder %>
        <td><%= email.auto_filed_folder.name %></td>
        <td>
          <% if email.list_id %>
            <%= link_to('Never Autofile', "#list_id=#{email.list_id}") %>
          <% else %>
            <%= link_to('Never Autofile', "#from_address=#{email.from_address}") %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
