<div class="mail-box-header email-thread-header">
    <div class="pull-right tooltip-demo">
      <% if(!TuringEmailApp.isSplitPaneMode()) { %>
        <a class="btn btn-white btn-sm" id="email_back_button" data-toggle="tooltip" data-placement="top" title="Back">
          <i class="fa fa-arrow-left"></i> Back
        </a>
      <% } %>

      <a class="btn btn-white btn-sm email_reply_button" data-toggle="tooltip" data-placement="top" title="Reply">
        <i class="fa fa-reply"></i> Reply
      </a>
      <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email">
        <i class="fa fa-print"></i>
      </a>
      <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Archive">
        <i class="fa fa-archive"></i>
      </button>
      <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>

    <div class="mail-tools tooltip-demo m-t-md">

        <h3>
            <span class="font-noraml">Subject: </span><span id="email_subject"><%= subjectPreview %></span>
        </h3>
        <h5>
            <span class="pull-right font-noraml"><%= datePreview %></span>
            <span class="font-noraml">From: </span><%= fromPreview %>
            <span class="font-noraml">From: </span><%= fromPreview %>
        </h5>
    </div>
</div>

  <div class="mail-box">
    <div class="mail-body">
      <% _.each(emails.reverse(), function(email, index) { %>
        <div class="email<%= (emails.length > 1 && index < emails.length - 1) && email.seen ? " collapsed_email" : "" %>">
          <div class="email_information">
            <div class="col-md-2">
              <%= fromPreview %>
            </div>
            <div class="col-md-8">
              <%= email.subject.trim() == "" ? "(no subject)" : email.subject %>
            </div>
            <div class="col-md-2">
              <%= datePreview %>
            </div>
          </div>
          
          <br />
          <br />
          <br />
          
          <div class="email_body" <%= emails.length > 1 && index < emails.length - 1 ? "style=\"display: none;\"" : "" %>>
            <div class="row">
              <div class="col-md-11">
                <%
                  if(email.subject.trim() == "Turing Email - Your daily Genie Report!" || email.html_part != null) {
                  %>
                    <iframe id="email_iframe<%= index %>" style="width: 100%;"></iframe>
                  <%
                  } else if(email.text_part != null) {%>
                    <pre><%= email.text_part %></pre>
                  <%
                  } else if(email.body_text != null) {%>
                    <pre id="body_text"><%= email.body_text %></pre>
                  <%
                  }
                %>
              </div>
            </div>
          </div>
        </div>
      <% }); %>

    </div>

    <div class="mail-body text-right tooltip-demo">
            <a class="btn btn-sm btn-white email_reply_button"><i class="fa fa-reply"></i> Reply</a>
            <a class="btn btn-sm btn-white email_forward_button"><i class="fa fa-arrow-right"></i> Forward</a>
            <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button>
            <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Remove</button>
    </div>

  <div class="clearfix"></div>
</div>
