<div class="mail-box-header email-thread-header">
  <div class="pull-right tooltip-demo">
    <% if(!TuringEmailApp.isSplitPaneMode()) { %>
      <a class="btn btn-white btn-sm email-back-button" data-toggle="tooltip" data-placement="top" title="Back">
        <i class="fa fa-arrow-left"></i> Back
      </a>
    <% } %>
  </div>

  <div class="mail-tools tooltip-demo row">
    <span  class="col-md-9 email-subject"><%= subjectPreview %></span>
  </div>
</div>

  <div class="mail-box">
    <div class="mail-body">
      <% _.each(sortedEmails, function(email, index) { 
        if(email.draft_id == null) {
          %>
          <div class="email<%= (emails.length > 1 && index < emails.length - 1) && email.seen ? " collapsed-email" : "" %>">

            <div class="email-information">
              <span class="email-from">
                <%= email.fromPreview %>
              </span>
              <% if(email.from_name != null) { %>
              <span class="email-from-address">
                &lt;<%= email.from_address %>&gt;
              </span>
              <% } %>
              <span class="email-date">
                <%= email.datePreview %>
              </span>
            </div>

            <div class="email-body" <%= (emails.length > 1 && index < emails.length - 1) && email.seen ? "style=\"display: none;\"" : "" %>>
              <a class="btn btn-sm btn-white email_forward_button each-email-forward-button"><i class="fa fa-arrow-right"></i> Forward</a>
              <a class="btn btn-white btn-sm email_reply_button each-email-reply-button" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
              <div class="row">
                <div class="col-md-11">
                  <%
                    if(email.subject.trim() == "Turing Email - Your daily Genie Report!" || email.html_part != null) {
                    %>
                      <iframe class="email-iframe" id="email_iframe<%= index %>"></iframe>
                    <%
                    } else if(email.text_part != null) {%>
                      <pre class="email-body"><%= email.text_part %></pre>
                    <%
                    } else if(email.body_text != null) {%>
                      <pre class="email-body" name="body_text"><%= email.body_text %></pre>
                    <%
                    }
                  %>
                </div>
              </div>
            </div>
          </div>
        <%
        } else {
          %>
            <div class="email">

              <div class="email-information">
                <span class="email-from">
                  <%= email.fromPreview %>
                </span>
                <span class="email-date">
                  <%= email.datePreview %>
                </span>
              </div>

              <div class="email-body">
                <div class="row">
                  <div class="col-md-12 embedded_compose_view_<%= email.uid %>">
                  </div>
                </div>
              </div>
            </div>
            <hr />
          <%
        }
      }); %>

    </div>

  <div class="clearfix"></div>
</div>
