<% var hrefLink = emails[0].draft_id ? "email_draft" : "email_thread" %>

<td class="check-mail">
    <input type="checkbox" class="i-checks">
</td>
<td class="mail-contact">
  <a href="#<%= hrefLink %>/<%= uid %>">
    <%
    if (emails[0].from_name == null) { %>
      <%= emails[0].from_address %><%
    } else {
      if (TuringEmailApp.models.user.get("email") == emails[0].from_address) {%>
        <%= "me" %><%
      } else {%>
        <%= emails[0].from_name %><%
      }
    }
    %>
  </a>
</td>
<td class="mail-subject"><a href="#<%= hrefLink %>/<%= uid %>"><%= emails[0].subject == "" ? "(no subject)" : emails[0].subject %> </a></td>
<td class="text-right mail-date">
<%
  //This is a check in case the date field is null.
  if(emails[0].date) {
    var emailDate = new Date(emails[0].date);
    var emailDatePlus18H = new Date(emails[0].date);

    emailDatePlus18H.setHours(emailDate.getHours() + 18);

    if (emailDatePlus18H > Date.now()) {%>
      <%= emailDate.toLocaleTimeString(navigator.language, {hour: "2-digit", minute: "2-digit"}) %><%
    } else {
      var formattedDateStringComponents = emailDate.toDateString().split(" ");
      var formattedDateString = formattedDateStringComponents[1] + " " + formattedDateStringComponents[2];%>
      <%= formattedDateString %><%
    }
  }
%>
</td>
