<%
  function outputListsTable(listSubscriptions, subscribed, currentPageNumber, pageSize) { %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Domain</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = (currentPageNumber * pageSize); i < Math.min(listSubscriptions.length, ((currentPageNumber + 1) * pageSize)); i++) { %>
      <tr>
        <td>
          <img src="<%= "https://plus.google.com/_/favicon?domain=" + listSubscriptions[i].list_domain %>" />
        </td>
        <td><%= listSubscriptions[i].list_name %></td>
        <td><%= listSubscriptions[i].list_domain %></td>
        <td>
          <button type="button" class="btn btn-block <%= subscribed ? "unsubscribe" : "resubscribe" %>-list-button">
            <%= subscribed ? "Unsubscribe" : "Resubscribe" %>
          </button>
        </td>
      </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>
<%  
  }
%>

<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "List Subscriptions"}) %>

<div class="col-lg-12">
  <div class="panel blank-panel">

    <div class="panel-heading">
      <div class="panel-options">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1">Subscribed Lists</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2">Unsubscribed Lists</a></li>
        </ul>
      </div>
    </div>

    <div class="panel-body">

      <div class="tab-content">
        <div id="tab-1" class="tab-pane active">

          <% outputListsTable(listsSubscribed, true, currentListsSubscribedPageNumber, pageSize); %>

          <nav class="list-subscription-pagination">
            <ul class="pagination pagination-lg">
              <li><a href="#" class="previous-list-subscription-page"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
              <li><a href="#" class="next-list-subscription-page"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
          </nav>

        </div>

        <div id="tab-2" class="tab-pane">
          <% outputListsTable(listsUnsubscribed, false, currentListsUnsubscribedPageNumber, pageSize); %>

          <nav class="list-unsubscription-pagination">
            <ul class="pagination pagination-lg">
              <li><a href="#" class="previous-list-unsubscription-page"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
              <li><a href="#" class="next-list-unsubscription-page"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</div>
