<!DOCTYPE html>
<html>
  <head>
    <title>TuringWebsite</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash.keys.length > 0 %>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
